.typewriter h1{
    display: inline-block;
    letter-spacing: 0.1em;

    border-right: solid 5px white;

    width: 0;
    overflow: hidden;
    white-space: nowrap;

    animation: 
        type 7s steps(90) 1s forwards infinite,
        blink 1s steps(2)  infinite;
}

@keyframes type {
    to {width: 33.5ch}
}

@keyframes blink {
    from {border-color: transparent}
    60% {border-color: white}
    to {border-color: transparent}
}
