.typewriter h1{
    display: inline-block;
    letter-spacing: 0.1em;

    border-right: solid 6px white;

    width: 0;
    overflow: hidden;
    white-space: nowrap;

    animation: 
        type 5s steps(100) 1s forwards infinite,
        blink 0.1ms steps(1)  infinite;
}

@keyframes type {
    to {width: 34ch}
}

@keyframes blink {
    from {border-color: transparent}
    60% {border-color: white}
    to {border-color: transparent}
}